// theme based Styling 
.menu_container_dark {
    height: 100%;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_container_light {
    height: 100%;
    width: 100%;
    background-color: #efe6e6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letter_M_dark {
    color: white;
    font-Size: 2.5rem;
}
.letter_M_light {
    color: rgb(8, 8, 8);
    font-Size: 2.5rem;
}
.theme_icon_dark{
    padding: 2px;
    background-color: #efe6e6;
    border: black;
}
.theme_icon_light{
    padding: 2px;
    background-color: #030303;
    border:#000000;
}

// theme based Styling 

.menu_item {
    margin: 0.8%;
    // font-size: 1.0rem;
    // font-family: system-ui;
    // font-weight: 600;
    // background-color: rgb(0 137 8);
    // border-color: transparent;
    // border-radius: 6px;
    //padding: 0.4%;
}

.menu_item a {
    color: white;
    text-decoration: none;
    // font-size: 1.5rem;
}

.menu_item :hover {
    text-shadow: 1.5px 2.0px 2px #be9fc6, 0 0 25px #ed09d2, 0 0 5px #9f22ba;
}

.menu_item_mobile_view {

    position: absolute;
    top: 1.7%;
    right: 25%;
    display: none;
    background-color: rgb(25, 135, 84);
    //padding: 1.7%;
    margin: 0.8%;
    font-size: 1rem;
    font-family: system-ui;
    font-weight: 600;
    border-color: transparent;
    border-radius: 6px;
}

.menu_item_mobile_view a {
    color: white;
    text-decoration: none;
}

.dropdownMenuItem {
    color: gray;
    //text-decoration: none;
}

.letter_M_dark {
    color: white;
    font-Size: 2.5rem;
}
.letter_M_light {
    color: black;
    font-Size: 2.5rem;
}

.menu_logo {
    position: absolute;
    left: 2%;
}

.dropdownMenu_item {
    position: absolute;
    top: 2%;
    right: 2%;
    display: none;
}

@media only screen and (max-width: 904px) {

    //ipad
    .menu_container_dark {
        width: 105%;
        height: 10vh;
    }
    .menu_container_light {
        width: 105%;
        height: 10vh;
    }
    

    .menu_item {
        font-size: 1rem;
        // padding: 2.4%;
    }

    .letter_M_dark {
        font-Size: 4rem;
    }
    .letter_M_light {
        font-Size: 4rem;
    }

    .menu_logo {
        top: 2.5%;
        left: 2.5%;
    }
}

@media only screen and (max-width: 414px) {

    //Iphone XR
    .menu_container_dark {
        width: 100%;
    }
    .menu_container_light {
        width: 100%;
    }

    .dropdownMenu_item {
        display: inline
    }

    .menu_item_mobile_view {
        display: inline
    }


    .menu_item {
        font-size: 1.2rem;
        display: none;
        // padding: 2.4%;
    }

    .letter_M_dark {
        font-Size: 2.5rem;
    }
    .letter_M_light {
        font-Size: 2.5rem;
    }

    .menu_logo {
        top: 2.8%;
    }

    .menu_item a {
        font-size: .8rem;
    }

}

@media only screen and (max-width: 390px) {

    //Iphone 12 pro
    .letter_M_light {
        font-Size: 2rem;
    }
    .letter_M_dark {
        font-Size: 2rem;
    }

    .menu_logo {
        top: 3.1%;
    }


}

@media only screen and (max-width: 376px) {

    //Iphone SE
    .letter_M_dark {
        font-Size: 2rem;
    }
    .letter_M_light {
        font-Size: 2rem;
    }
}