// theme based Styling 
.menu_container_dark {
    height: 100%;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_container_light {
    height: 100%;
    width: 100%;
    background-color: #efe6e6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.letter_M_dark {
    color: white;
    font-Size: 2.5rem;
}
.letter_M_light {
    color: rgb(8, 8, 8);
    font-Size: 2.5rem;
}
.theme_icon_dark{
    padding: 2px;
    background-color: #efe6e6;
    border: black;
}
.theme_icon_light{
    padding: 2px;
    background-color: #030303;
    border:#000000;
}

// theme based Styling 
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color:#1c6cfb;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #f39c12;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

/*  Support me if you like it */
.support {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.support a {
  color: #292c35;
  font-size: 32px;
  backface-visibility: hidden;
  display: inline-block;
  transition: transform 0.2s ease;
}

.support a:hover{
  transform: scale(1.1);
}

.menu_item {
    margin: 0.8%;
}

.menu_item a {
    color: white;
    text-decoration: none;
    // font-size: 1.5rem;
}

.menu_item :hover {
    text-shadow: 1.5px 2.0px 2px #be9fc6, 0 0 25px #ed09d2, 0 0 5px #9f22ba;
}

.menu_item_mobile_view {

    position: absolute;
    top: 1.7%;
    right: 25%;
    display: none;
    background-color: rgb(25, 135, 84);
    //padding: 1.7%;
    margin: 0.8%;
    font-size: 1rem;
    font-family: system-ui;
    font-weight: 600;
    border-color: transparent;
    border-radius: 6px;
}

.menu_item_mobile_view a {
    color: white;
    text-decoration: none;
}

.dropdownMenuItem {
    color: gray;
    //text-decoration: none;
}

.letter_M_dark {
    color: white;
    font-Size: 2.5rem;
}
.letter_M_light {
    color: black;
    font-Size: 2.5rem;
}

.menu_logo {
    position: absolute;
    left: 2%;
}

.dropdownMenu_item {
    position: absolute;
    top: 2%;
    right: 2%;
    display: none;
}

.toggle_btn{
    position: absolute;
    right: 2%;
}




@media only screen and (max-width: 904px) {

    //ipad
    .menu_container_dark {
        width: 105%;
        height: 10vh;
    }
    .menu_container_light {
        width: 105%;
        height: 10vh;
    }
    

    .menu_item {
        font-size: 1rem;
        // padding: 2.4%;
    }

    .letter_M_dark {
        font-Size: 4rem;
    }
    .letter_M_light {
        font-Size: 4rem;
    }

    .menu_logo {
        top: 2.5%;
        left: 2.5%;
    }
}

@media only screen and (max-width: 414px) {

    //Iphone XR
    .menu_container_dark {
        width: 100%;
    }
    .menu_container_light {
        width: 100%;
    }

    .dropdownMenu_item {
        display: inline
    }

    .menu_item_mobile_view {
        display: inline
    }


    .menu_item {
        font-size: 1.2rem;
        display: none;
        // padding: 2.4%;
    }

    .letter_M_dark {
        font-Size: 2.5rem;
    }
    .letter_M_light {
        font-Size: 2.5rem;
    }

    .menu_logo {
        top: 2.8%;
    }

    .menu_item a {
        font-size: .8rem;
    }
    .toggle_btn{
        position: absolute;
        top: 3.7%;
        right: 25%;
    }

}

@media only screen and (max-width: 390px) {

    //Iphone 12 pro
    .letter_M_light {
        font-Size: 2rem;
    }
    .letter_M_dark {
        font-Size: 2rem;
    }

    .menu_logo {
        top: 3.1%;
    }
    .toggle_btn{
        position: absolute;
        top: 3.7%;
        right: 25%;
    }


}

@media only screen and (max-width: 376px) {

    //Iphone SE
    .letter_M_dark {
        font-Size: 2rem;
    }
    .letter_M_light {
        font-Size: 2rem;
    }
    .toggle_btn{
        position: absolute;
        top: 3.7%;
        right: 25%;
    }
}