.portfolio_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.intro {
    height: 40%;
    width: 100%;
    background-color: #9a92e4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(portfolio_name_bg_large_2.jpg);
    background-size: cover;

}

.portfolio_details {
    height: 60%;
    width: 100%;
    background-color: aliceblue;
}

.name {
    background-color: #998ef6;
    opacity: 0.7;
    padding: 8px;
    border: 0.5px solid #847cd0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d96e;
    border-color: transparent;
    margin: 8%;
}

.name_text {
    font-size: 1.8rem;
    color: red;
    font-weight: 650;
    font-family: inherit;
}

.occupation {
    font-size: 1.2rem;
    color: #000000;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    border: 1px solid #998b8b;
    border-radius: 10px;
}

.address {
    display: flex;
    margin-top: 2%;
}

.menu_item_contact {
    margin: 0.8%;
    border-color: transparent;
    padding: 0.4%;
    background-color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.Portfolio_footer {
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: system-ui;
    padding-top: .4%;
    padding-bottom: .4%;
}

.summary_container {
    height: 100%;
    width: 100%;
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    // background-color: rgb(253, 132, 132);
}

.summary_box {
    height: 100%;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    // background-color: rgb(253, 132, 132);
    // border: 1px solid white;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.row_1 {
    height: 50%;
    width: 100%;
    display: flex;
    // margin-top: 1%;
    // margin-bottom: 1%;
}

.row_2 {
    height: 50%;
    width: 100%;
    display: flex;
}

.flip-card {
    background-color: transparent;
    width: 80%;
    height: 250px;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.9);
    border: 1px solid #dad1d1;
    border-radius: 28px;

}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #dad1d1;
    border-radius: 28px;

}

.flip-card-front {
    // background-color: #bbb;
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(217, 217, 217, 0.431372549);
    background-image: url(portfolio_summary_small.jpg);
    background-size: cover;

}

.flip-card-back {
    background-color: #B8B3E9;
    color: white;
    transform: rotateY(180deg);
}

.card_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4rem;
    font-family: System-ui;
}

.card_heading {
    margin-bottom: 40%
}

table {
    width: 180px;
    height: 40px;
    border: .4px solid black;
}

th {
    color: black;
}

th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.points_heading {
    color: white;
    text-shadow: .5px .5px 1px black, 0 0 25px blue, 0 0 5px darkblue;
}

.points_details {
    color: #000000;
    font-size: .8rem;
}

@media only screen and (max-width: 904px) {

    //Ipad

    .row_1 {
        flex-direction: column;
    }

    .row_2 {
        flex-direction: column;
    }

    .summary_box {
        height: 33%;
    }

    .flip-card {
        width: 70%;
        height: 240px;
    }

    .card_text {
        font-size: 2.4rem;
    }

    .occupation {
        font-size: 1.5rem;
        background-color: white;
    }

    .intro {
        width: 105%;
    }

    .name_text {
        font-size: 1.8rem;
    }
    .center {
        font-size: 2rem;
    }

}

@media only screen and (max-width: 415px) {

    //Iphone XR
    .row_1 {
        flex-direction: column;
    }

    .row_2 {
        flex-direction: column;
    }

    .summary_box {
        height: 33%;
    }

    .flip-card {
        width: 70%;
        height: 200px;
    }
    .name_text {
        font-size: 1.8rem;
    }
    .occupation {
        font-size: 1.2rem;
        background-color: white;
    }
    .intro {
        width: 100%;
    }
    .card_text {
        font-size: 1.8rem;
    }
    .points_details {
        color: black;
        font-weight: 700;
    }
    .center {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 390px) {

    //Iphone 12 pro
    .row_1 {
        flex-direction: column;
    }

    .row_2 {
        flex-direction: column;
    }

    .summary_box {
        height: 33%;
    }

    .flip-card {
        width: 70%;
        height: 220px;
    }

}

@media only screen and (max-width: 376px) {

    //Iphone SE
    .row_1 {
        flex-direction: column;
    }

    .row_2 {
        flex-direction: column;
    }

    .summary_box {
        height: 33%;
    }

    .flip-card {
        width: 70%;
        height: 180px;
    }
}