.menu_container {
    height: 100%;
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;


    // D17B88 ,D999B9 B8B3E9 90E0F3 75F4F4 // 414535

}

.menu_item {
    margin: 0.8%;
    font-size: 1.2rem;
    font-family: system-ui;
    font-weight: 600;
    background-color: rgb(75 64 60);
    border-color: transparent;
    border-radius: 12px;
    padding: .4%;
}

.menu_item a {
    color: white;
    text-decoration: none;
    // font-size: 1.5rem;
}

.menu_item :hover {
    text-shadow: 1.5px 2.0px 2px #be9fc6, 0 0 25px #ed09d2, 0 0 5px #9f22ba;
}

@media only screen and (max-width: 904px) {

    //ipad
    .menu_container {
        width: 105%;
        height: 10vh;
    }

    .menu_item {
        font-size: 1.8rem;
        // padding: 2.4%;
    }
}

@media only screen and (max-width: 414px) {

    //Iphone XR
    .menu_container {
        width: 100%;
    }

    .menu_item {
        font-size: 1.2rem;
        // padding: 2.4%;
    }
}

// @media only screen and (max-width: 390px) { //Iphone 12 pro
// }
// @media only screen and (max-width: 376px) { //Iphone SE
// }