.intro_container {
    height: 82vh;
    width: 100%;
    background-image: url(bg_large.jpg);
    background-color: #D17B88;
    background-color: #D999B9;
    background-color: #B8B3E9;
    background-color: #90E0F3;
    background-color: #75F4F4;
    background-color: #414535;
    background-color: #B8B3E9;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}


.welcome_text {
    font-weight: 900;
    color: #4f3dff;
    font-size: 1.8rem;
    font-family: inherit;
    margin-bottom: -2%;
}

.greeting_text {
    font-weight: 600;
}

.introLine {
    font-size: 1.1rem;
}


// theme based Styling 
.Intro_footer_dark {
    position: fixed;
    bottom: 0;
   // height: 10%;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: system-ui;
}
.Intro_footer_light {
    position: fixed;
    bottom: 0;
   // height: 10%;
    width: 100%;
    background-color: #efe6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(2, 2, 2);
    font-family: system-ui;
}
.intro_content_box_dark {
    background-color: rgba(32, 32, 32, 0.43);
    opacity: 0.8;
    padding: 4%;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 4%;
    color: white;
    font-size: 1.2rem;
    font-family: system-ui;
    font-weight: 600;
}
.intro_content_box_light {
    background-color: hsla(217, 36%, 91%, 0.302);
    opacity: 0.8;
    padding: 4%;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 4%;
    color: black;
    font-size: 1.2rem;
    font-family: system-ui;
    font-weight: 600;
}
.intro_content_box_dark button {
    color: white;
    //background-color: red;
    border: 0px;
    font-size: 1.2rem;
    border-radius: 11px;
    padding: 1%;
    margin: 1%
}
.intro_content_box_light button {
    color: white;
    //background-color: red;
    border: 0px;
    font-size: 1.2rem;
    border-radius: 11px;
    padding: 1%;
    margin: 1%
}
// theme based Styling 

.Intro_name_text {
    color: red;
    font-size: 1.8rem;
}

@media only screen and (max-width: 904px) {

    //Ipad

    .row_1 {
        flex-direction: column;
    }

    .row_2 {
        flex-direction: column;
    }

    .summary_box {
        height: 33%;
    }

    .flip-card {
        width: 85%;
        height: 240px;
    }

    .intro_container {
        width: 105%;
    }

    .welcome_text {
        font-size: 2.8rem;
    }

    .greeting_text {
        font-weight: 600;
        font-size: 1.5rem;
    }

    .intro_content_box_dark {
        margin-left: 4%;
        margin-right: 7%;
        padding: 8%;
    }
    .intro_content_box_light {
        margin-left: 4%;
        margin-right: 7%;
        padding: 8%;
    }

}

@media only screen and (max-width: 414px) {

    //Iphone XR
    .intro_container {
        width: 100%;
    }

    .welcome_text {
        font-size: 1.8rem;
    }

    .greeting_text {
        font-weight: 600;
        font-size: 1.2rem;
    }

    .intro_content_box_light button {
        padding: 2%;
    }

    .intro_content_box_dark button {
        padding: 2%;
    }


}

@media only screen and (max-width: 390px) {

    //Iphone 12 pro

}

@media only screen and (max-width: 376px) {

    //Iphone SE

}

//D17B88 ,D999B9 B8B3E9 90E0F3 75F4F4 // 414535