.Expense_container {
    background-color: #402A2C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    min-height: 100vh;
    background-image: url(expense_bg.jpg);
    background-size: cover;
    // width: 100%;
}

.Expense_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #080808;
    height: 100%;
    min-width: 60%;
    border: 1px solid white;
    border-radius: 2rem;
    opacity: .8;
    box-shadow: 10px 20px 80px 10px rgb(236, 77, 215);
}

.Expense_content:hover {
    box-shadow: 10px 10px 50px blueviolet
}

.ExpenseTracker_footer {
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: system-ui;
    padding-top: .4%;
    padding-bottom: .4%;
}

.Income_Expense {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // background: blue;
    padding: 4%;
    //width: 72%;
}

.Income_only {
   // background-color: rgb(224, 221, 12);
    margin: 2%;
    padding: 10%;
    border: 1px solid rgb(92, 83, 3);
    border-radius:50%;
    cursor: pointer;
    font-size: .8rem;
    box-shadow: 5px 5px 50px yellow;

}

.Income_only:hover {
    border: 1px solid rgb(186, 204, 23);
    //box-shadow: 10px 10px 50px red;
}

.income_Alert {
    border: 1px solid rgb(233, 119, 119);
    box-shadow: 10px 10px 50px red;
}

.Expense_only {
    //background-color: red;
    margin: 2%;
    padding: 10.1%;
    border: 1px solid rgb(163, 44, 23);
    border-radius: 50%;
    cursor: pointer;
    font-size: .8rem;
    box-shadow: 5px 5px 50px red;

}

.Expense_only:hover {
    border: 1px solid rgb(199, 107, 84);
    //box-shadow: 10px 10px 50px blue;
}

.Balance_only {
   // background-color: rgb(109, 233, 37);
    margin: 2%;
    padding: 10.1%;
    border: 1px solid rgb(33, 116, 13);
    border-radius: 50%;
    cursor: pointer;
    font-size: .8rem;
    box-shadow: 5px 5px 50px rgb(16, 206, 89);

}

.Balance_only:hover {
    border: 1px solid rgb(186, 204, 23);
    //box-shadow: 10px 10px 50px rgb(207, 190, 34);
}

.Expense_Income_input {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.Expense_Income_Input {
    padding: 2%
}

.Exp_History_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Expense_Income_add_btn {

    border-radius: 50px;
    cursor: pointer;
    background-color: #f60000;
    color: white;
    margin-right: 4px;

}

.Expense_Balance {
    padding: 2%
}

.Expense_input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Expense_input_name {
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.Expense_input_price {
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.Expense_input_btn {
    // border: 1px solid white;
    border-radius: 50px;
    cursor: pointer;
    background-color: #f60000;
    color: white;
    margin-right: 4px;
}


.Expense_delete_item_btn {
    border-radius: 50%;
    cursor: pointer;
    background-color: #3887fb;
    color: black;
    margin-right: 4px;
}

.Expense_edit_item_btn {
    border-radius: 50%;
    cursor: pointer;
    background-color: #3887fb;
    margin-right: 4px;
}

.Expense_expand_list_btn {
    border-radius: 50%;
    cursor: pointer;
    background-color: #3887fb;
    margin-right: 4px;

}

.Expense_edit_name_item_btn {
    border-radius: 50%;
    cursor: pointer;
    background-color: #3887fb;
    margin-right: 4px;
}

.Expense_input_box {
    padding: 2%;
    margin: 4%

}

.Expense_History {
    padding: 1%;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 90%;
}

.Expense_History_table_container {
    // background-color: white;
}

.expense_table {
    width: 100%;
    height: 40px;
}

.Expense_History_row_container {
    margin-bottom: 5%;
    margin-left: 1%;
    margin-right: 1%;
    background-color: rgb(69, 160, 146);
}

@media only screen and (max-width: 904px) {

    //ipad
    .Expense_content {
        padding: 15%;
        min-width: 40%;

    }

    .Expense_container {
        width: 105%;
    }

    .ExpenseTracker_footer {
        width: 105%;
    }

    .Expense_History {
        width: 100%;
    }


}

@media only screen and (max-width: 414px) {

    //Iphone XR
    .Expense_content {
        padding: 12%;
    }

    .Expense_container {
        width: 100%;
        min-height: 85vh;
    }

    .ExpenseTracker_footer {
        width: 100%;
    }

    .Expense_delete_item_btn {
        border-radius: 50%;
        font-size: 123%;
    }

}

@media only screen and (max-width: 390px) {
    //Iphone 12 pro


}

@media only screen and (max-width: 376px) {
    //Iphone SE

}